/*--------head------------*/
.head {
  padding: 20px 0;
  color: #C5C6C7;
}
.logo h1 {
  font-size: 35px;
  font-weight: 900;
  color: #66FCF1;
}
.head .icon {
  margin-left: 10px;
  color:#66FCF1;
}
/*--------head------------*/
/*--------header------------*/
header {
  border-bottom: 5px outset #66FCF1;
  border-top: 5px inset #66FCF1;
  border-radius: 40px;
  margin: 0 30px;
  
}
header .nav {
  display: flex !important;
  
}
header li {
  margin-right: 40px;
}
header ul {
  padding: 30px 20px;
}
header ul li a {
  color: #C5C6C7;
  font-weight: 500;
  transition: 0.5s;
}
header ul li a:hover {
  color: #66FCF1;
}
.start {
  background-color: #66FCF1;
  color: #0B0C10;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  animation: start 2s ease 0s infinite normal none;
}

@keyframes start {
  0% {
	transform: scale(1);
  }

  50% {
	transform: scale(1.1);
  }

  100% {
	transform: scale(1);
  }
}




.button2{
  background-color: #66FCF1;

}
.Start1{
 margin-top: 20px;
 margin-right: 20px;
}
.toggle {
  display: none;
}
/*--------header------------*/
@media screen and (max-width: 768px) {
  .start {
    clip-path: none;
  }
  .head{
    padding: 0;
  }
  .social{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header {
    margin: 0;
    /* background-color: #45A29E; */
    position: relative;
    z-index: 9999999;
  }
  header ul.flexSB {
    display: none;
  }
  header ul li {
    margin-bottom: 20px;
  }
  .toggle {
    display: block;
    background: none;
    color: #66FCF1;
    font-size: 30px;
    position: absolute;
    right: 0;
    top:-33px;
  }
  .mobile-nav {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    background-color: #0B0C10;
  }

  .Start1{
    margin: 10px;
   }

}
