/*--------head------------*/
.head {
 
  color: #C5C6C7;
}
.logo img{
 height: 100px;
 width: auto;
}
/* .logo h1 {
  font-size: 35px;
  font-weight: 900;
  color: #66FCF1;
} */
.head .icon {
  margin-left: 10px;
  color:#66FCF1;
}
/*--------head------------*/
/*--------header------------*/
header {
  border-radius: 40px;
  margin: 0 30px;
  
}
header .nav {
  display: flex !important;
  
}
header li {
  margin-right: 40px;
  margin-top: 20px;
}
header ul {
  padding: 30px 20px;
}
header ul li a {
  color: #C5C6C7;
  font-weight: 500;
  transition: 0.5s;
  margin-top: 20px;

}
header ul li a:hover {
  animation: anim2 500ms cubic-bezier(0.175, 0.885, 0.32, 0.275) infinite;
  color: #66FCF1;
  font-weight: 900;
}


@keyframes anim2 {
  0% {
    opacity: 1;
    transform: translateY(px);
  }
  25% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    opacity: 1;
    transform: translateY(0px);
  }
  75% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.Startlist{
  margin-top: 8px;
}
.start {
  background-color: #66FCF1;
  color: #0B0C10;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  animation: start 2s ease 0s infinite normal none;
}

.social{
  display: flex;
  justify-content: center;
}

.socialicon{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;

}

@keyframes start {
  0% {
	transform: scale(1);
  }

  50% {
	transform: scale(1.1);
  }

  100% {
	transform: scale(1);
  }
}




.button2{
  background-color: #66FCF1;

}
.Start1{

}
.toggle {
  display: none;
}
/*--------header------------*/
@media screen and (max-width: 768px) {
  .start {
    clip-path: none;
  }
  .head{
    padding: 0;
  }
  .social{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header {
    margin: 0;
    /* background-color: #45A29E; */
    position: relative;
    z-index: 9999999;
  }
  header ul.flexSB {
    display: none;
  }
  header ul li {
    margin-bottom: 20px;
  }
  .toggle {
    display: block;
    background: none;
    color: #66FCF1;
    font-size: 30px;
    position: absolute;
    right: 0;
  }
  .mobile-nav {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    background-color: #0B0C10;
  }

   .socialicon i{
    margin-bottom: 8px;
   }
 
}
